#  Cours Numpy

In [4]:
#Chargement du package numpy
import numpy as np

# 1. Manipulation de tableau à une dimension

## 1.1 Création d'un tableau

In [6]:
#Créez un tableau qui contient les éléments suivant  : [1,5,7,8]
tableau = np.array([1,5,7,8])
print(tableau)

[1 5 7 8]

In [11]:
#Créez un tableau rempli de 0
np.zeros(7)

array([0., 0., 0., 0., 0., 0., 0.])

In [5]:
#Créez un tableau rempli de 1
np.ones(8)

array([1., 1., 1., 1., 1., 1., 1., 1.])

In [16]:
#Créez un tableau qui contient 3 élements identiques. Exemple [8.5,8.5,8.5]
tableau = np.full(3, 4.5)
print(tableau)

[4.5 4.5 4.5]

In [23]:
#Créez un tableau rempli d'entiers successifs. le prémier élément du tableau est 0 et le dernier élément 9
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
#Créez un tableau remplide valeurs aléatoires normales centrées en zéro
shape=(4)
np.random.normal(loc=0, scale=1, size=shape)

array([ 1.69636148, -0.60550924,  1.13010624, -0.84701179])

In [19]:
#Créez un tableau rempli de 20 valeurs aléatoires entières comprises toutes entre 1 et 10
np.random.randint(low=1, high=11, size=20)

array([ 5,  4, 10,  6, 10,  7,  4,  8,  1,  4,  9,  2,  3, 10,  5,  6,  4,
        9,  8,  2])

## 1.2 Attributs d'un tableau

In [66]:
#Afficher le nombre de  dimension du mon tableau
tableau = np.array([ 5,  4, 10,  6, 10,  7,  4,  8,  1,  4,  9,  2,  3, 10,  5,  6,  4,
        9,  8,  2])
tableau.ndim

1

In [25]:
#Affichez le type des éléments du tableau
tableau.dtype

dtype('int32')

In [27]:
#Affichez le nombre d'élément du tableau
tableau.size

20

In [30]:
#Afficher le nombre de lignes et de colonnes
tableau.shape

(20,)

## 1.3 Indexing, slicing, masking et subsetting

### 1.3.1 Indexing

In [59]:
#Affichez le 1er élément du tableau
a=tableau[0]
print(a)

5

In [60]:
#Affichez le 5ème élément du tableau
a=tableau[4]
print(a)

10

In [61]:
#Affichez le dernier élément du tableau
a=tableau[-1]
print(a)

2

### 1.3.2 Slicing

In [64]:
#Affichez les 6 premiers éléments du tableau
a=tableau[0:7]
print(a)

[ 5  4 10  6 10  7  4]

In [75]:
#Affichez les 6 derniers éléments du tableau
a=tableau[-1:-7:-1]
print(a)

[2 8 9 4 6 5]

In [76]:
#Affichez les éléments tableau qui sont de la 3 ème à la  8 ème position
a=tableau[2:8]
print(a)

[10  6 10  7  4  8]

 1.3.3 masking et subsetting

In [84]:
tableau = np.array([ 5,  4, 10,  6, 10,  7,  4,  8,  1,  4,  9,  2,  3, 10,  5,  6,  4,
        9,  8,  2])
#Affichez les éléments du tableau inférieurs ou égals à 5
a=tableau<=5
print(a)

#Remplacez les éléments du tableau inférieurs à 5 par 0
a=tableau<5
tableau[a]=0
print(tableau)

#Affichez les éléments du tableau supérieurs à 5
a=tableau>5
print(a)

#Remplacez les éléments du tableau supérieurs à 5 par 10
a=tableau>5
tableau[a]=10
print(tableau)

#Affichez le tableau obtenu
a=tableau
print(a)

[ True  True False False False False  True False  True  True False  True
  True False  True False  True False False  True]
[ 5  0 10  6 10  7  0  8  0  0  9  0  0 10  5  6  0  9  8  0]
[False False  True  True  True  True False  True False False  True False
 False  True False  True False  True  True False]
[ 5  0 10 10 10 10  0 10  0  0 10  0  0 10  5 10  0 10 10  0]
[ 5  0 10 10 10 10  0 10  0  0 10  0  0 10  5 10  0 10 10  0]

## 1.4 Les méthodes

In [85]:
# Triez les éléments d'un tableau et affichez le résultat
tableau = np.array([ 5,  4, 10,  6, 10,  7,  4,  8,  1,  4,  9,  2,  3, 10,  5,  6,  4,
        9,  8,  2])
a=np.sort(tableau)
print(a)

[ 1  2  2  3  4  4  4  4  5  5  6  6  7  8  8  9  9 10 10 10]

In [86]:
#Modifiez le type de données d'un tableau (passez de int à float)
a=tableau.astype(float)
print(a)

[ 5.  4. 10.  6. 10.  7.  4.  8.  1.  4.  9.  2.  3. 10.  5.  6.  4.  9.
  8.  2.]

In [88]:
#Ajouter le chiffre 3 à la fin du tableau et affichez le résultat
a=np.append(tableau,3)
print(a)

[ 5  4 10  6 10  7  4  8  1  4  9  2  3 10  5  6  4  9  8  2  3]

## 1.5 Statistiques avec numpy

In [100]:
#Afficher la somme des éléments du tableau
tableau = np.array([ 5,  4, 10,  6, 10,  7,  4,  8,  1,  4,  9,  2,  3, 10,  5,  6,  4,
        9,  8,  2])
np.sum(tableau)

117

In [109]:
#Affichez le produit des éléments du tableau
tableau = np.array([ 5,  4, 10,  6, 10,  7,  4,  8,  1,  4,  9,  2,  3, 10,  5,  6,  4,
        9,  8,  2])
a= np.prod(tableau)
print(a)

-1373634560

In [111]:
#Affichez le minimum et le maximum du tableau
a= np.min(tableau)
b= np.max(tableau)
print("Min:",a)
print("Max:",b)

Min: 1
Max: 10

In [112]:
#Affichez la moyenne des éléments du tableau
a=np.mean(tableau)
print("Moy:",a)

Moy: 5.85

In [113]:
#Affichez la variance des éléments du tableau
a=np.var(tableau)
print("var:",a)

var: 7.9275

In [114]:
#Affichez l'ecart type des éléments du tableau
a=np.std(tableau)
print(a)

2.8155816450602176

In [115]:
#Affichez les éléments uniques du tableau
a=np.unique(tableau)

[ 1  2  3  4  5  6  7  8  9 10]

# 2. Tableau à deux dimensions

## 2.0 Exercice

## 2.1 Création d'une matrice

In [119]:
#Créez une matrice de 3 lignes et 3 colonnes qui contient les élements suivant [1,2,3],[4,5,6],[7,8,9]
np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [121]:
#Créez une matrice de 3 lignes et 3 colonnes qui rempli du chiffre zéro
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [122]:
#Créez une matrice de 4 lignes et 4 colonnes qui rempli du chiffre un
np.ones((4,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [124]:
#Créez une matrice de 3 lignes et 4 colonnes qui rempli du nombre 8.6
np.full((3,4), 8.6)

array([[8.6, 8.6, 8.6, 8.6],
       [8.6, 8.6, 8.6, 8.6],
       [8.6, 8.6, 8.6, 8.6]])

In [130]:
#Créez une matrice de 4 lignes et 3 colonnes qui contient les entier allant de 0 à 11 d'entiers successifs
a=np.arange(12)
b=a.reshape(4,3)
print(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [131]:
#Créez une matrice identité de 3 lignes et 3 colonnes
np.full((3,3), 8)

array([[8, 8, 8],
       [8, 8, 8],
       [8, 8, 8]])

In [174]:
#1)Créez une matrice identité de 3 lignes et 3 colonnes composé de valeurs aléatoires entières
#NB : fixez l'aléatoire pour pouvoir répéter l'expérience
np.random.seed(20)
np.random.randint(0,10,size=(3,3))

#2) Stockez la matrice obtenu dans un objet appelé M
M=np.random.randint(0,10,size=(3,3))
print(M)

[[5 3 0]
 [6 6 0]
 [9 5 7]]

## 2.2 Attributs d'un tableau

In [175]:
#Affichez le nombre de lignes et de colonnes de la matrice M
a=M.shape[0]
b=M.shape[1]
print("NL:",a)
print("NC:",b)

NL: 3
NC: 3

In [176]:
#Affichez la dimension de la matrice M
M.ndim

2

In [177]:
#Affichez le nombre d'éléments de la matrice M
M.size

9

In [178]:
#Affichez le type des éléments de la matrice M
M.dtype

dtype('int32')

## 2.3 Indexing, slicing, masking et subsetting

### 2.3.1 Indexing

In [179]:
#Affichez le premier élément de la matrice M
a=M[0,0]
print(a)

5

In [180]:
#Affichez l'élément se trouavnt à la 3ème ligne et à la 2ème colonne de la matrice M
a=M[2,1]
print(a)

5

In [181]:
#Affichez l'élément se trouavnt à la 2ème ligne et à la 1ème colonne de la matrice M
a=M[1,0]
print(a)

6

### 2.3.2 Slicing

In [182]:
#Affichez les éléments se trouvant sur les 2 premières lignes et les 3 premières colonnes de la matrice M
a=M[:2, :3]
print(a)

[[5 3 0]
 [6 6 0]]

In [183]:
#Affichez les éléments se trouvant sur les 2 premières linges et les 3 premières colonnes de la matrice M
a=M[:2, :3]
print(a)

[[5 3 0]
 [6 6 0]]

In [184]:
#Affichez les éléments se trouvant la troisième colonne de la matrice M
a=M[:, 2]
print(a)

[0 0 7]

In [185]:
#Affichez les éléments se trouavnt à la dernière ligne de la matrice M
a=M[-1, :]
print(a)

[9 5 7]

In [186]:
#Afficher l'élément se trouvant à la 1ère et à la dernière ligne de la matrice M
a=M[0]
b=M[-1]

print("la 1ère ligne:",a)
print("la dernière ligne:",b)

la 1ère ligne: [5 3 0]
la dernière ligne: [9 5 7]

### 2.3.3 Masking et subsetting

In [187]:
#Vérifiez si un élément de la matrice M est inférieur ou égale à 5
a=M<=5
print(a)

[[ True  True  True]
 [False False  True]
 [False  True False]]

In [188]:
#Vérifiez si un élément de la matrice M est supérieur à 5
a=M>5
print(a)

[[False False False]
 [ True  True False]
 [ True False  True]]

In [189]:
#Remplacez toutes les valeurs de la matrice M inférieures ou égales à 5 par 0
a=M<=5
M[a]=0
print(M)

[[0 0 0]
 [6 6 0]
 [9 0 7]]

In [190]:
#Remplacez toutes les valeurs de la matrice M supérieures à 5 par 10
a=M>5
M[a]=10
print(M)

[[ 0  0  0]
 [10 10  0]
 [10  0 10]]

## 2.4 Méthodes

In [191]:
#Changez le type de donnée des éléments de la matrice M (passez de in32 à float32)
a=M.astype(float)
print(a)

[[ 0.  0.  0.]
 [10. 10.  0.]
 [10.  0. 10.]]

In [165]:
#Soit la matrice à 3 lignes et 3 colonne dénommée N
N = np.array([[1,2,3],[2,3,4],[3,4,5]])
N

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5]])

In [192]:
#Affichez la matrice M
print(M)

[[ 0  0  0]
 [10 10  0]
 [10  0 10]]

In [193]:
#Effectuez une concaténation horizontale des matrices M et et N pour obtenir une matrice O
np.concatenate((N,M), axis=1)

array([[ 1,  2,  3,  0,  0,  0],
       [ 2,  3,  4, 10, 10,  0],
       [ 3,  4,  5, 10,  0, 10]])

In [195]:
#Effectuez une concaténation vérticale des matrices M et et N pour obtenir une matrice P
np.concatenate((N,M), axis=0)

array([[ 1,  2,  3],
       [ 2,  3,  4],
       [ 3,  4,  5],
       [ 0,  0,  0],
       [10, 10,  0],
       [10,  0, 10]])

In [194]:
#Applatissez le tableau O obtenu
O=np.array([[ 1,  2,  3,  0,  0,  0],
       [ 2,  3,  4, 10, 10,  0],
       [ 3,  4,  5, 10,  0, 10]])
a=O.ravel()
print(a)

[ 1  2  3  0  0  0  2  3  4 10 10  0  3  4  5 10  0 10]